extends ../layout.pug

block content
  .px-2
    .d-flex.mb-2.justify-content-between
      button.btn.btn-outline-primary(type='button' data-bs-toggle='modal' data-bs-target='#newWordModal') New Word
      form(action="/admin/word" method="GET").d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search' name="query" value= query ? query : "" )
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    table.table.table-hover 
      thead
        tr
          th.text-center(scope='col') Word
          th.text-center(scope='col') Pronounce
          th.text-center(scope='col') Type
          th.text-center(scope='col') Category
          th.text-center(scope='col') Audio
          th.text-center(scope='col') Action
      tbody
        if words && words.length
          each word, i in words
            tr
              td.text-center.align-middle
                | #{word.word}
              td.text-center.align-middle 
                | #{word.pronounce}
              td.text-center.align-middle 
                | #{word.type}
              td.text-center.align-middle 
                | #{word.category}
              if word.audio
                td.text-center.align-middle
                  audio(controls='')
                    source(src=word.audio)
                    | Your browser does not support the audio element.
              else
                td.text-center.align-middle
                  | No Audio
              td.text-center.align-middle
                .dropdown
                  button.btn.btn-outline-secondary.dropdown-toggle(id="options"+i  type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Action
                  ul.dropdown-menu(aria-labelledby="options"+i)
                    li
                      a.dropdown-item(href='/admin/word/'+word._id) Update
                    li
                      span.dropdown-item(onclick='deleteWord("'+ word._id +'")') Delete
        else
          tr.bg-light.bg-gradient
            td.text-center(colspan='6') No data to show
  #newWordModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
      form(method="POST" action="/admin/word").modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Add new word
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        #modal-body.modal-body
            .mb-3
              label.form-label(for='word') Word
              input#word.form-control(type='text' name='word' required)
            .mb-3
              label.form-label(for='pronounce') Pronounce
              input#pronounce.form-control(type='text' name="pronounce" required)
            .mb-3
              label.form-label(for='wordType') Word Type
              select#wordType.form-select(name="type")
                option(value="nouns" selected) Nouns
                option(value="verbs") Verbs
                option(value="adjectives") Adjectives
                option(value="adverbs") Adverbs
                option(value="pronouns") Pronouns
                option(value="prepositions") prepositions
                option(value="conjunctions") Conjunctions
                option(value="interjections") Interjections
            .mb-3
              label.form-label(for='category') Category
              select#category.form-select(name="category")
                option(value="secure" selected) Secure
                option(value="it") IT
            button#addMean.btn.btn-primary(type='button' onclick="addMoreMean()") Add Mean
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Add
block script
  script(src='/assets/js/word.js' type='text/javascript')